body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

/*
#main-content {
    padding: 20px;
}
*/

/* Custom side nav style */
/* Override background color of the sidebar */
#menu > li {
    font-size: 1.2em;
}

#menu > li > a > i {
    width: 30px;
}

/* Change link color */
.nav-link {
    color: #ffffff !important; /* Replace with your desired link color */
}

/* Change link hover color */
.nav-link:hover {
    color: #ff9800 !important; /* Replace with your desired hover color */
}

/* Style for active links */
.nav-link.active {
    background-color: #444444 !important;
    color: #ffffff !important; /* Adjust as needed */
}

/* Style for disabled links */
.nav-link.disabled {
    color: #7d7d7d !important;
}

.required {
    color: red;
    font-weight: bold;
    margin-left: 4px;
}
