body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

#main-content {
    padding: 20px;
}

/* Custom side nav style */
#sidebar {
    position: fixed;
    top: 0;
    left: -250px;  /* Start off-screen */
    width: 250px;
    height: 100%;
    background-color: #343a40;
    transition: left 0.3s ease; /* Smooth sliding effect */
    padding-left: 40px;
    padding-top: 10px;
    z-index: 999;
}

#sidebar.active {
    left: 0;  /* Slide in */
}

#sidebar .navbar-nav li {
    padding: 10px 20px;
}

#sidebar .navbar-nav li a {
    color: white;
    text-decoration: none;
}

#sidebar .navbar-nav li a:hover {
    background-color: #575d63;
}

#sidebar .navbar-nav ul {
    list-style-type: none; /* Remove default bullet points */
    padding-left: 20px;    /* Indent sub-items */
}

#sidebar .navbar-nav ul li a {
    color: white;        /* Lighter color for sub-items */
}

#sidebar .navbar-nav ul li a:hover {
    color: white;          /* Highlight on hover */
}

.hamburger {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999;
    cursor: pointer;
    font-size: 30px; /* Increase font size */
    color: black;
}

.hamburger.active {
    transform: rotate(90deg); /* Optional: to rotate the hamburger when active */
    color: white;
}

.required {
    color: red;
    font-weight: bold;
    margin-left: 4px;
}
