
<div id="reward" class="alert alert-success mt-3" style="display: none;"><h1>Ingresso gratuito!</h1></div>
<div id="error-message" class="alert alert-danger mt-3" style="display: none;"></div>
<div id="success-message" class="alert alert-success mt-3" style="display: none;"></div>

<div id="divCustomers" class="container-fluid mt-4">

    <!-- Filter Form -->
    <form id="filterForm" class="mb-4">
        <div class="container-fluid p-4 row border rounded shadow-sm table-responsive row bg-dark">
            <div class="col-md-4" style="margin-bottom: 5px">
                <input id="filterName" type="text" name="name" class="form-control" placeholder="Filtra per nome">
            </div>
            <div class="col-md-4" style="margin-bottom: 5px">
                <input id="filterLastName" type="text" name="last_name" class="form-control" placeholder="Filtra per cognome">
            </div>
            <div class="col-md-4">
                <input type="submit" id="submitBtn" value="Filtra" class="btn btn-primary mb-2 mb-sm-0">
            </div>
        </div>
    </form>

    <!-- Customers Table -->
    <div class="table-responsive container-fluid p-4 row border rounded shadow-sm table-responsive bg-dark">
        <table id="customers_table" class="table table-bordered my-table" style="width: 100%;">
            <thead>
                <tr>
                    <th style="width: 1%; white-space: nowrap;"></th>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Email</th>
                    <th>Indirizzo</th>
                </tr>
            </thead>
            <tbody>
                <!-- populated dynamically-->
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="accessLogsModal" tabindex="-1" role="dialog" aria-labelledby="accessLogsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="accessLogsModalLabel">Ingressi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="accessLogsTable">
                        <thead>
                            <tr>
                                <th>Orario ingresso</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Access logs will be populated here -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
