<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MTTF Loyalty</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <style>
        :root {
            --user-color: {{ theme_color }}; /* User-defined color */
            --user-color-light: {{ theme_color | lighten(30)}}; /* User-defined color lightened */
            --user-color-dark: #212529;
            --user-body-color: #212529;
            --user-disabled-color: #7d7d7d;
            --user-color-whitish: #e6e6e6;
        }  
    </style>
</head>

<body class="bg-light">
    <!-- Sidebar Navigation -->
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div id="sidebar" class="col-auto col-10 col-sm-5 col-md-4 col-lg-3 px-0 bg-dark" style="display:none">
                <div class="d-flex flex-column align-items-start px-3 pt-2 text-white min-vh-100">
                    <ul class="nav nav-pills flex-column mb-auto mb-0" id="menu">                        
                        <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fas fa-gifts"></i> <span class="d-sm-inline">Programmi fedelt&agrave;<i class="ms-2 fas fa-caret-right"></i></span>
                            </a>
                            <ul class="collapse nav flex-column ms-4" id="submenu1" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0" onclick="toggleMenu(); navigateTo('programs')">
                                        <i class="fas fa-list"></i><span class="ms-1 d-sm-inline">Lista</span>
                                    </a>
                                </li>
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0" onclick="toggleMenu(); navigateTo('new_program')">
                                        <i class="fas fa-plus"></i><span class="ms-1 d-sm-inline">Crea</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fas fa-users"></i> <span class="d-sm-inline">Soci<i class="ms-2 fas fa-caret-right"></i></span>
                            </a>
                            <ul class="collapse nav flex-column ms-4" id="submenu2" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0" onclick="toggleMenu(); navigateTo('customers')">
                                        <i class="fas fa-list"></i><span class="ms-1 d-sm-inline">Lista</span>
                                    </a>
                                </li>
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0" onclick="toggleMenu(); navigateTo('new_customer')">
                                        <i class="fas fa-plus"></i><span class="ms-1 d-sm-inline">Crea</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle" onclick="toggleMenu(); navigateTo('scan')">
                                <i class="fas fa-camera"></i><span class="ms-1 d-sm-inline">Scansiona QR</span>
                            </a>
                        </li>
                    </ul>
                    <!-- <hr>
                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                            <span class="d-sm-inline mx-1">user</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div> -->
                    <div>
                        <a href="#" onclick="toggleMenu(); logout();" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fas fa-arrow-right-from-bracket"></i><span class="ms-1 d-sm-inline">Logout</span>
                        </a>
                    </div>
                </div>
            </div>
            <div id="rightPane" class="col-auto col-12 px-0">
                <div class="bg-dark" style="padding-top: 5px; padding-bottom: 5px; width: 100%;">
                    <a id="menutrigger" href="#" onclick="toggleMenu();" class="nav-link px-0 align-middle" style="display: inline; font-size: 2em;">
                        <i id="bars" class="nav nav-link fas fa-bars" style="display: inline; margin-right: 10px;"></i>
                    </a>
                    <img src="{{ url_for('frontend.static', filename='logo/logo.png') }}" style="display: inline; width: 60px;">
                    <h1 id="apptitle" class="ms-1" style="display: inline; vertical-align: middle;"></h1>
                </div>
                <div id="main-content" class="container-fluid">
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/html5-qrcode"></script> <!-- QR code scanner library -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/2.2.1/i18n/it-IT.json"></script>
    <script src="{{ url_for('frontend.static', filename='app.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='new_customer.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='new_program.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='customers.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='programs.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='scan.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='login.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('frontend.static', filename='style.css') }}">    
</body>

</html>
