<div id="error-message" class="alert alert-danger mt-3" style="display: none;"></div>
<form id="loginForm" class="container mt-5 p-4 border rounded shadow-sm" style="max-width: 400px;">
  <h2 class="text-center mb-4">Login</h2>

  <div class="mb-3" style="display: none;">
    <label for="username" class="form-label">Utente</label>
    <input id="username" type="text" name="username" class="form-control" placeholder="Enter your username" required value="admin">
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input id="password" type="password" name="password" class="form-control" placeholder="Inserisci la password" required autocomplete="current-password">
  </div>

  <button type="submit" class="btn btn-primary w-100">Login</button>
</form>