<div id="error-message" class="alert alert-danger mt-3" style="display: none;"></div>
<div id="success-message" class="alert alert-success mt-3" style="display: none;"></div>

<div class="container-fluid mt-4">
    <!-- Error Message Display -->
    <form id="customerForm" class="mb-4">
        <div class="row container-fluid p-4 row border rounded shadow-sm table-responsive bg-dark">
            <div>
                <div class="form-group mb-3">
                    <label for="name">Nome</label>
                    <input type="text" id="name" name="name" class="form-control" required>
                </div>

                <div class="form-group mb-3">
                    <label for="last_name">Cognome</label>
                    <input type="text" id="last_name" name="last_name" class="form-control" required>
                </div>

                <div class="form-group mb-3">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                </div>

                <div class="form-group mb-3">
                    <label for="address">Indirizzo</label>
                    <input type="text" id="address" name="address" class="form-control">
                </div>
                
                <div id="access_import_div" class="form-group mb-3">
                    <label for="access_import">Importa ingressi</label>
                    <input type="number" id="access_import" name="reward" class="form-control" min="0" value="0">
                </div>    

                <div class="form-group mb-3">
                    <label for="programs">Programmi fedelt&agrave;</label>
                    <select id="programs" name="programs" class="form-control" multiple>
                        <!-- Options will be populated dynamically -->
                    </select>
                </div>
                
                <div id="buttonsCreate">
                    <div class="form-group text-center d-flex justify-content-between">   
                        <input type="button" id="backToCustomers" value="Lista" onclick="navigateTo('customers');" class="btn btn-lg w-50 me-2 btn-outline-dark">
                        <input type="submit" id="submitBtn" value="Crea nuovo socio" class="btn btn-primary btn-lg w-50 ms-2">
                    </div>
                </div>

                <div id="buttonsEdit">
                    <div class="form-group text-center d-flex justify-content-between">                        
                        <input type="button" id="customerCancel" value="Lista" onclick="AppSession.customerBeingEdited = null; navigateTo('customers');" class="btn btn-lg w-50 ms-2 btn-outline-dark">
                        <input type="submit" id="submitEditBtn" value="Aggiorna socio" class="btn btn-primary btn-lg w-50 ms-2">
                    </div>         
                </div>       
            </div>
        </div>
    </form>
</div>