<div id="divPrograms" class="container mt-4">
    <h1 class="mb-4">Programmi fedelt&agrave;</h1>
    
    <div id="error-message" class="alert alert-danger mt-3" style="display: none;"></div>
    <div id="success-message" class="alert alert-success mt-3" style="display: none;"></div>

    <!-- Filter Form -->

    <!-- Programs Table -->
    <div class="table-responsive">
        <table id="programs_table" class="table table-bordered table-striped" style="width: 100%;">
            <thead>
                <tr>
                    <th style="width: 1%; white-space: nowrap;"></th>
                    <th>Nome</th>
                    <th>Valido dal</th>
                    <th>Valido fino al</th>
                    <th>Ingressi per ottenere premio</th>                    
                    <th>Ingressi omaggio</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
