<div id="qr-reader" style="margin-top: 25px;"></div>
<!-- <button id="start-button" class="btn btn-primary w-100">Start Scanning</button>
<button id="stop-button" class="btn btn-primary w-100" style="display: none">Stop Scanning</button> -->

<div id="error-message" class="alert alert-danger mt-3" style="display: none;"></div>
<div id="success-message" class="alert alert-success mt-3" style="display: none;"></div>

<!-- <script type="text/javascript">   
    var cameraId;   
    const html5QrCode = new Html5Qrcode("qr-reader");   
    const config = { fps: 10, qrbox: { width: 250, height: 250 } };

    function stopScanning() {
        html5QrCode.stop().then((ignore) => {
            $('#start-button').css('display', 'block');
            $('#stop-button').css('display', 'none');
        }).catch((err) => {
            alert(`Camera stop error: ${err}`)
        });
    }

    $('#start-button').on('click', function() {
        html5QrCode.start(cameraId, config, qrCodeSuccessCallback).then((ignore) => {
            $('#start-button').css('display', 'none');
            $('#stop-button').css('display', 'block');
        }).catch((err) => {
            alert(`Camera start error: ${err}`);
        });
    });

    $('#stop-button').on('click', function() {
        stopScanning();
    });

    const qrCodeSuccessCallback = (decodedText, decodedResult) => {            
        $('#output').html(
            `<div>Scan successful: ${decodedText}</div>`
        );
        
        stopScanning();
    };

    const qrCodeFailureCallback = (error) => {    
        $('#output').html(
            `<div>Scan failed: ${error}</div>`
        );
    };

    Html5Qrcode.getCameras().then(devices => {
        /**
         * devices would be an array of objects of type:
         * { id: "id", label: "label" }
         */
        devices.forEach(device => { 
            $('#output').append(
                `<p><strong>ID:</strong> ${device.id}, <strong>Label:</strong> ${device.label}</p>`
            );
        })

        if (devices && devices.length) {
            cameraId = devices[3].id;
            // .. use this to start scanning.
        }
    }).catch(error => {
        alert(`Camera scan error: ${error}`);
    });

    /*function onScanSuccess(decodedText, decodedResult) {
        // Handle the result (QR code content)
        fetch('/accesses/add', {
            method: 'POST',
            body: JSON.stringify({ qr_code: decodedText }),
            headers: {
                'Content-Type': 'application/json',
            }
        })
        .then(response => response.json())
        .then(data => {
            console.log("Access logged", data);
            window.location.href = '/customers';  // Redirect after successful scan
        })
        .catch(error => console.error("Error logging access:", error));
    }

    function onScanFailure(error) {
        // Handle error (optional)
        alert(`QR Code scan failed: ${error}`);
    }

    // Initialize QR Code scanner
    var html5QrcodeScanner = new Html5QrcodeScanner("qr-reader", { fps: 10, qrbox: 250 });
    html5QrcodeScanner.render(onScanSuccess, onScanFailure);

    // Stop scanning after some time (optional)
    document.getElementById("stop-button").addEventListener("click", function() {
        html5QrCode.stop().then(() => {
            console.log("QR Code scanning stopped.");
        }).catch((err) => {
            console.error("Error stopping scanning:", err);
        });
    });*/
</script> -->