<div id="error-message" class="alert alert-danger mt-3" style="display: none;"></div>
<div id="success-message" class="alert alert-success mt-3" style="display: none;"></div>
<div id="reward" class="alert alert-success mt-3" style="display: none;"><h1>Ingresso gratuito!</h1></div>

<div class="container-fluid mt-4">
    <div class="mb-3">
        <!-- <label for="cameraDropdown" class="form-label">Cambia fotocamera</label> -->
        <select id="cameraDropdown" class="form-select"></select>
    </div>
    <div id="qr-reader"></div>
</div>
